.index {
	.col-xs-2,.col-xs-3{
		padding-left: 0;
		padding-right: 0;
		cursor: pointer;
		color: #333;
	}
	.active {
		background-color: #5cc330;
		color: #fff;
	}
	.header {
		width: 100%;
		height: 90px;
		line-height: 90px;
		font-size: 1rem;
		background: #fff;
		-moz-box-shadow: 0 1px 10px #888888; /* 老的 Firefox */
		box-shadow: 0 1px 10px #888888;
		z-index: 1;
		position: fixed;
		left: 15px;
		top: 0;
		.logo {
			padding: 0;
			img {
				width: 135px;
				height: 44px;
			}
		}
		.mnu {
			padding: 0;
			a {
				text-decoration: none;
			}
		}
	}
	.main{
		padding-top: 90px;
	}
	.floor-box{
		margin-top: -60px;
		padding-top: 90px;
	}
	.floor {
		background: #fff;
		padding-top: 15px;
		-moz-box-shadow: 3px 3px 10px #999999;
		box-shadow: 3px 3px 10px #999999;
	}
	.floor2 {
		padding-left: 0;
		padding-right: 0;
	}
	.info {
		padding: 20px 60px 40px;
		text-indent: 2em;
		font-size: 0.9rem;
		line-height: 25px;
	}
	.preferential{
		display:none;
		label{
			font-weight:normal;
			text-decoration:line-through;
		}
	}
	.list {
		margin-top: 15px;
		.btn{
			background-color:#fff;
		}
		th, td {
			text-align: center;
			padding: 15px 0 !important;
			font-size: 0.9rem;
			line-height: 30px !important;
		}
		.count{
			th, td {
				padding: 15px !important;
			}
		}
		.bg-coupon {
			background-image: url(/imgs/coupon.png);
	    background-repeat: no-repeat;
			background-size: 85% 40px;
			background-position:center;
			position: relative;
			.pover{
				position: absolute;
				left: 7%;
				top: 60px;
				background: #fff;
				width: 300px;
				height: auto;
				border:1px solid #5cc330;
				z-index: 1;
				text-align: left;
				padding:5px 10px;
				display: none;
				em,span{
					display:block;
					width:30px;
					height:16px;
					font-size:30px;
					overflow:hidden;
					position:relative;
					margin-left:10px;
				}
				em{
					margin-top:-21px;
					color:#5cc330;
					font-style:normal;
				}
				span{
					margin-top:-14px;
					color:white;
				}
				div{
					margin:0;
					line-height: 23px;
					position: relative;
					p{
						margin: 5px 0 0;
					}
					.img{
						position: absolute;
						left: 0;
						top: 0;
					}
					.txt{
						display: inline-block;
						width: 240px;
						margin-left: 5px;
					}
					.distance{
						margin-left: 31px;
						b{
							font-weight: normal;
							display: block;
						}
					}
				}
			}
			.btn {
				cursor: auto;
				padding: 0;
			}
			.btn:active:focus, .btn:focus {
				outline: none;
			}
			img{
				display: inline-block;
				width: 18px;
				margin-left: 5px;
			}
			.discounts{
				border-radius: 5px;
				padding: 2px 3px;
				font-size: 12px;
				margin-left: 6px;
			}
		}
		.decoration-color{
			color:#888;
		}
		.decoration{
			text-decoration:line-through;
			color:#888;
		}
		.list-inline {
			margin-bottom: 0;
			li {
				width: 30px;
				height: 30px;
			}	
			.subtract, .add{
				cursor: pointer;
			}	
			.disabled{
				cursor: not-allowed;
			}
		}
		.wrap {
			height: 60px !important;
			line-height: 60px !important;
			font-size: 16px;
		}
		.count {
			.list-inline {
				li {
					float: right;	
					font-size: 16px;
				}
				.num {
					width: 55%;
				}
				.money-wrap {
					width: auto;
					text-align: left;
				}
				.money {
					height: 30px;
					line-height: 60px;
					span{
						font-size: 20px;
						font-weight: 600;
					}
				}
				.discountMoney{
					display: none;
				}
				.clip {
					width: 1px !important;
				}
				.clip-line {
					width: 1px;
					height: 40px;
					margin-top: 10px;
					border-left: 1px solid #ddd;
				}
			}
		}
		.tips {
			text-align: left !important;
			color: #ff0000;
		}
	}
	#list-wrap .table {
		margin-bottom: 0;
	}
	.list .message{
		text-align: right;
	}
	.use-coupon {
		color: #ff0000;
		cursor: pointer;
	}
	.coupon{
		width: 100%;
		margin-bottom: 10px;
		display: none;
		.input{
			width: auto;
			border: 1px solid #ccc;
			display: inline-block;
			padding:0 5px;
		}
		a{
			margin-left:3px;
		}
		.cancel{
			color:#555;
		}
		.sure{
			color: red;
		}
	}
	.settlement {
		margin-top: 0 !important;
	}
	.submit {
		width: 150px;
		color: #fff;
		background-color: #5cc330;
		margin: 0 auto;
	}
	.subDisabled{
		background-color: #ccc;
	}
	.bot {
		padding: 0;
		position: relative;
		.contact{
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			width: 33%;
			margin: 6% auto;
			.contact-main{
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				margin: 6% auto;
				width: 100%;
				.active{
					display: block;
					margin:8px auto;
					width: 28%;
					height: 17%;
				}
			}
		}
	}
	.buy{
		display: none;
	}
	#buy {
		padding: 10px 20px;
		border-radius: 5px;
	}
	#wechat-code{
		width: 168px;
		height: auto;
		position: fixed;
		top: 60%;
		right: 100px;
		background: #fff;
		padding-top: 18px;
		text-align: center;
		-moz-box-shadow: 3px 3px 10px #999999;
		box-shadow: 3px 3px 10px #999999;
		display: none;
		p{
			color: #666;
			margin: 12px 0 6px;
		}
	}
	#return-top {
		width: 50px;
		height: auto;
		position: fixed;
		top: 65%;
		right: 30px;
		.up{
			display: none;
		}
		.return-con {
			width: 50px;
			height: 50px;
			line-height: 50px;
			background: #919191;
			margin-bottom: 10px;
			cursor: pointer;
			/*img{
				display: none;
			}*/
			p{
				color: #fff;
				width: 100%;
				height: 100%;
				font-size: 13px;
				line-height: 18px;
				padding: 7px 11px;
				display: none;
				a{
					color: #fff;
				}
			}
		}
	}
	#return-top .return-con:hover {
		background: #5cc330;
	}
	.disable {
		color:#a3aaad;
		cursor: not-allowed;
		.bg-coupon-dis {
			background-image: url(/imgs/coupon_dis.png);
			cursor: not-allowed;
		}
		.btn{
			cursor: not-allowed;
			color:#a3aaad;
		}
		.list-inline{
			.subtract, .add{
				cursor: not-allowed;
			}
		}
		.green{
			color:#a3aaad;
		}
		.discounts{
			background: #ccc;
			color:#fff;
		}
	}
	#allmap {
		margin-bottom: 30px;
		height: 410px;
	}
	.anchorBL {
		display: none;
	}
	.dialog{
		width: 400px;
		height: 200px;
		position: fixed;
		top: 50%;
		left: 50%;
		margin: -150px -200px;
		background:#fff;
		-moz-box-shadow: 1px 1px 10px #888888; /* 老的 Firefox */
		box-shadow: 1px 1px 10px #888888;
		border:1px solid #ccc;
		text-align: center;
		display: none;
		img{
			margin-top: 40px;
			margin-left: 30px;
			width: 80px;
		}
		.close{
			padding: 10px;
			font-size: 24px;
		}
		p{
			margin-top: 20px;
			font-size: 18px;
		}
	}
	.bdshare-button-style0-16 a {
	    float: none !important;
	    font-size: 14px !important;
	    padding: 0  !important;
	    line-height: auto !important;
	    height: auto !important;
	    background-image: none !important;
	    cursor: pointer;
	    margin: 0 !important;
	}
}
@media (min-width: 768px){
	.modal-dialog{
		width: 323px;
		margin: 17% auto;
		img{
			width: 100%;
		}
	}
}
	
