.index {
	.col-xs-2,.col-xs-3{
		padding-left: 0;
		padding-right: 0;
		cursor: pointer;
		color: #333;
	}
	.active {
		background-color: #5cc330;
		color: #fff;
	}
	.header {
		/*width: 100%;*/
		height: 90px;
		line-height: 90px;
		font-size: 1rem;
		background: #fff;
		/*-moz-box-shadow: 0 1px 10px #888888; /* 老的 Firefox */
		/*box-shadow: 0 1px 10px #888888;
		z-index: 10000;
		position: fixed;
		left: 15px;
		top: 0;*/
		.logo {
			padding: 0;
			img {
				width: 135px;
				height: 44px;
			}
		}
		.mnu {
			padding: 0;
			a {
				text-decoration: none;
			}
		}
	}
	/*.main{
		margin-top: 90px;
	}*/
	.floor {
		background: #fff;
		margin-top: 30px;
		padding-top: 15px;
		-moz-box-shadow: 3px 3px 10px #999999;
		box-shadow: 3px 3px 10px #999999;
	}
	.floor2 {
		padding-left: 0;
		padding-right: 0;
	}
	.info {
		padding: 15px 30px;
		text-indent: 2em;
		font-size: 0.9rem;
	}
	.list {
		margin-top: 15px;
		.btn{
			background-color:#fff;
		}
		th, td {
			text-align: center;
			padding: 15px 0 !important;
			font-size: 0.9rem;
			line-height: 30px !important;
		}
		.count{
			th, td {
				padding: 15px !important;
			}
		}
		.bg-coupon {
			background-image: url(/imgs/coupon.png);
	    	background-repeat: no-repeat;
			background-size: 85% 40px;
			background-position:center;
			position: relative;
			cursor: pointer;
			.pover{
				position: absolute;
				left: 0;
				top: 60px;
				background: #fff;
				width: 300px;
				height: 60px;
				border:1px solid green;
				em,span{
					display:block;
					width:30px;
					height:16px;
					font-size:30px;
					overflow:hidden;
					position:relative;
					margin-left:10px;
				}
				em{
					margin-top:-16px;
					color:green;
					font-style:normal;
				}
				span{
					margin-top:-14px;
					color:white;
				}
			}
			.btn {
				padding: 0;
			}
			.btn:active:focus, .btn:focus {
				outline: none;
			}
			img{
				display: inline-block;
				width: 20px;
				margin-left: 5px;
			}
			.discounts{
				border-radius: 5px;
				padding: 3px 5px;
				font-size: 12px;
				margin-left: 6px;
			}
		}
		.decoration-color{
			color:#888;
		}
		.decoration{
			text-decoration:line-through;
			color:#888;
		}
		.list-inline {
			margin-bottom: 0;
			li {
				width: 30px;
				height: 30px;
			}	
			.subtract, .add{
				cursor: pointer;
			}	
			.disabled{
				cursor: not-allowed;
			}
		}
		.wrap {
			height: 60px !important;
			line-height: 60px !important;
			font-size: 16px;
		}
		.count {
			.list-inline {
				li {
					float: right;	
					font-size: 16px;
				}
				.num {
					width: 55%;
				}
				.money-wrap {
					width: 40%;
				}
				.money {
					height: 30px;
					line-height: 30px;
				}
				.clip {
					width: 1px !important;
				}
				.clip-line {
					width: 1px;
					height: 40px;
					margin-top: 10px;
					border-left: 1px solid #ddd;
				}
			}
		}
		.tips {
			text-align: left !important;
			color: #ff0000;
		}
	}
	#list-wrap .table {
		margin-bottom: 0;
	}
	.use-coupon {
		color: #ff0000;
	}
	.settlement {
		margin-top: 0 !important;
	}
	.submit {
		width: 150px;
		color: #fff;
		background-color: #5cc330;
		margin: 0 auto;
	}
	.bot {
		margin-top: 30px;
		padding: 0;
	}
	#buy {
		padding: 10px 20px;
		border-radius: 5px;
	}
	#return-top {
		width: 50px;
		position: fixed;
		top: 65%;
		right: 20px;
		.return-con {
			margin-bottom: 10px;
		}
	}
	.disable {
		color:#a3aaad;
		cursor: not-allowed;
		.bg-coupon-dis {
			background-image: url(/imgs/coupon_dis.png);
			cursor: not-allowed;
		}
		.btn{
			cursor: not-allowed;
			color:#a3aaad;
		}
		.list-inline{
			.subtract, .add{
				cursor: not-allowed;
			}
		}
		.green{
			color:#a3aaad;
		}
		.discounts{
			background: #ccc;
			color:#fff;
		}
	}
}
